<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser =
      <%= render('api/users/user', user: current_user).html_safe %>
  <% end %>
</script>

<div id="root">
  <div class="coming-soon">
    <h1>Reedy</h1>
    <h1>Coming Soon</h1>
  </div>
  <%= image_tag 'reed.jpg' %>
</div>